html{
    height: 100%
}

body{
    text-align: center;
    margin-top: 25vh;
}

table,td{
    /* border-collapse: collapse; */
    border: 1px solid black;
}

tr{
    text-align: left;

}

td{
    padding-right: 2rem;
}

tr:nth-child(odd){
    background-color: lightcoral
}

.button{
    margin: 2rem;
}
#results{
    width:30vh;
}